{
	"root": true,
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"ecmaVersion": 2021,
		"project": "./tsconfig.json",
		"sourceType": "module"
	},
	"plugins": [
		"@typescript-eslint"
	],
	"extends": [
		"eslint:recommended", // https://github.com/eslint/eslint/blob/master/conf/eslint-recommended.js
		"plugin:@typescript-eslint/eslint-recommended", // https://github.com/typescript-eslint/typescript-eslint/blob/master/packages/eslint-plugin/src/configs/eslint-recommended.ts
		"plugin:@typescript-eslint/recommended", // https://github.com/typescript-eslint/typescript-eslint/blob/master/packages/eslint-plugin/src/configs/recommended.ts
		"./eslint_config/.eslintrc-possible-errors.jsonc",
		"./eslint_config/.eslintrc-best-practices.jsonc",
		"./eslint_config/.eslintrc-strict-mode.jsonc",
		"./eslint_config/.eslintrc-variables.jsonc",
		"./eslint_config/.eslintrc-stylistic-issues.jsonc",
		"./eslint_config/.eslintrc-es6.jsonc"
	],
	"rules": {
		/*** typescript-eslint ***/

		/* typescript-eslint:recommended */
		// "@typescript-eslint/adjacent-overload-signatures": "error",
		"@tyepscript-eslint/array-type": "off",
		"@tyepscript-eslint/await-thenable": "off",
		// "@typescript-eslint/ban-ts-comment": "error",
		"@typescript-eslint/ban-tslint-comment": "off",
		// "@typescript-eslint/ban-types": "error",
		"@typescript-eslint/class-literal-property-style": "off",
		"@typescript-eslint/consistent-indexed-object-style": "off",
		"@typescript-eslint/consistent-type-assertions": "off",
		"@typescript-eslint/consistent-type-definitions": "off",
		"@typescript-eslint/consistent-type-imports": "off",
		"@typescript-eslint/explicit-function-return-type": "off",
		"@typescript-eslint/explicit-member-accessibility": "off"
	}
}